/*
	default CSS

*/

.last{
	margin-right:0px !important;
}
.t_first{
	margin-top:0px !important;
}


ul.no_list-style li{
	list-style:none;
}

p{
	margin-bottom:0.5em;
	margin-top:0.5em;
	line-height: 160%;
}

ul{
	padding-left:0px;
	list-style-position: inside;
}
a{
	outline:none;
}

/*crazyboneã®é€šçŸ¥ã‚’éžè¡¨ç¤ºã«*/
.wp-pointer{
	display:none !important;
}


/*******************************
ãƒ•ãƒ­ãƒ¼ãƒˆé–¢é€£
*******************************/
.float-l{
	float:left;
}

.float-r{
	float:right;
}

.clearfix {zoom:1;}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clear{
	clear:both;
}

.t-a-l{
	text-align:left;
}
.t-a-r{
	text-align:right;
}

.t-a-c{
	text-align:center;
}


/*******************************
ãƒžãƒ¼ã‚¸ãƒ³é–¢é€£
*******************************/
.m-l-5{
	margin-left:5px;
}
.m-l-10{
	margin-left:10px;
}
.m-l-15{
	margin-left:15px;
}
.m-l-20{
	margin-left:20px;
}


.m-r-5{
	margin-right:5px;
}
.m-r-10{
	margin-right:10px;
}
.m-r-15{
	margin-right:15px;
}
.m-r-20{
	margin-right:20px;
}


.m-t-5{
	margin-top:5px !important;
}
.m-t-10{
	margin-top:10px !important;
}
.m-t-15{
	margin-top:15px !important;
}
.m-t-20{
	margin-top:20px !important;
}
.m-t-30{
	margin-top:30px !important;
}
.m-t-40{
	margin-top:40px !important;
}
.m-t-50{
	margin-top:50px !important;
}
.m-t-60{
	margin-top:60px !important;
}

.m-t--2{
	margin-top:-2px;
}
.m-t--5{
	margin-top:-5px;
}
.m-t--10{
	margin-top:-10px;
}
.m-t--15{
	margin-top:-15px;
}
.m-t--20{
	margin-top:-20px;
}
.m-t--25{
	margin-top:-25px;
	position:relative;
}
.m-t--30{
	margin-top:-30px;
}
.m-t--40{
	margin-top:-40px;
}


.m-b-5{
	margin-bottom:5px;
}
.m-b-10{
	margin-bottom:10px;
}
.m-b-15{
	margin-bottom:15px;
}
.m-b-20{
	margin-bottom:20px;
}
.m-b-30{
	margin-bottom:30px;
}
.m-b-40{
	margin-bottom:40px;
}






.m_over:hover{
	opacity:0.6;
	  -webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
	     -moz-transition: all 1s ease-out;  /* FF4+ */
	      -ms-transition: all 1s ease-out;  /* IE10? */
	       -o-transition: all 1s ease-out;  /* Opera 10.5+ */
	          transition: all 1s ease-out;	/*filter: alpha(opacity=80);*/
}
.m_over_inverse:hover{
	opacity:1;
	  -webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
	     -moz-transition: all 1s ease-out;  /* FF4+ */
	      -ms-transition: all 1s ease-out;  /* IE10? */
	       -o-transition: all 1s ease-out;  /* Opera 10.5+ */
	          transition: all 1s ease-out;	/*filter: alpha(opacity=80);*/
	/*filter: alpha(opacity=80);*/
}

.radius{
	-webkit-border-radius:9px;
	-moz-border-radius:9px;
	-o-border-radius:9px;
	border-radius:9px;
}

.radius3{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.radius5{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}


.txt-shadow{
	text-shadow:2px 2px 3px rgba(0,0,0,0.4);
}

.txt-shadow-wh{
	text-shadow:1px 1px 0px #FFF;
}

.l-h-15{
	line-height:1.5em;
}

.l-h-20{
	line-height:2.0em;
}






/*bootstrapã§å°åˆ·æ™‚ã«URLãŒè¡¨ç¤ºã•ã‚Œã‚‹å•é¡Œ*/

@media print {
  a[href]:after {
    content: ""!important;
  }
  abbr[title]:after {
    content: ""!important;
  }
}
